[core]
        excludesfile = ~/.gitignore_global
[credential]
        helper = cache
[init]
        defaultBranch = master
[merge]
        conflictstyle = diff3
[credential "https://github.com"]
        helper = 
        helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper = 
        helper = !/usr/bin/gh auth git-credential
